@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-jetbrainsMono: var(--font-jetbrainsMono);
  
  --color-primary: #1c1c22;
  --color-accent: #F97316;
  --color-accent-hover: #ea580c ;
}

@layer base {
  * {
    @apply p-0 m-0 box-border;
  }
  body {
    @apply bg-primary text-white font-jetbrainsMono leading-loose;
  }
}
